.image {
  background-color: dimgray;
  width: 300px;
  height: 400px;
  position: absolute;
  opacity: 0.9;
  left: 40%;
  top: 30px;
  border-radius: 20px;
}
.imgContent {
  width: 300px;
  height: 300px;
  opacity: 1;
  position: absolute;
  top: 10%;
}
.count {
  background-color: dimgrey;
  border-radius: 10px;
  width: 100px;
  height: 60px;
  text-align: center;
  font-size: 60px;
  color: #00c2b5;
  margin-left: 35px;
  margin-bottom: 10px;
  padding:  5px;
}
.center {
  margin: auto;
  padding: 20px;
  position: relative;
  left: 44%;
  top: 400px;
}
.content {
  width: 100%;
  position: absolute;
  margin: 10px;

}


button:active {
  background-color: cyan;
  opacity: 0.6;
}
